/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *\
      #TYPE STYLES
\* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

p {
  line-height: 1.7;
  padding-bottom: 1.6rem;
  @include mq-sm {
    font-size: 1.125rem;
  }
}

.p-small {
  font-size: .9rem;
}

h2 {
  color: $color-accent-medium;
  font-family: $font-nav;
  font-size: 1.8rem;
  font-style: italic;
  font-weight: $font-weight-heavy;
  line-height: 1;
  padding-bottom: 1.5rem;
  @include mq-sm {
    font-size: 2.25rem;
  }
}

.page-contact h2, .page-about h2 {
  padding-bottom: 1.75rem;
  @include mq-sm {
    padding-bottom: 2.5rem;
  }
}

h3 {
  color: $color-primary1;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: .05rem;
  text-transform: uppercase;
  margin-bottom: .2rem;
}

h4 {
  color: $color-accent-medium;
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: 700;
  letter-spacing: .05rem;
}

footer {
  color: $color-neutral-medium;
  font-size: 14px;
  @include mq-sm {
    font-size: 16px;
  }
  p {
    padding-bottom: 0rem;
  }
}

.project-desc__title {
  color: $color-background;
  font-family: $font-nav;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 500;
}

.project-desc__text {
  color: $color-background;
  font-size: .875rem;
}

.text-align-right {
  text-align: right;
}

.branding {
  color: $color-primary1;
  font-family: $font-branding;
  font-size: 1.2rem;
  text-transform: lowercase;
}

.branding--nav {
  letter-spacing: 0;
}