.about-portrait {
  float: left;
  width: calc(45% - 1rem);
  margin-right: 1rem;
  position: relative;
  top: 6px;
  @include mq-sm {
    margin-right: 2rem;
    width: calc(45% - 2rem);
  }
}

.about-interests {
  float: left;
  width: 55%;
  margin-bottom: 1rem;
}