/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *\
      #COMPONENTS (SHARED)
\* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ************ #Logo ************ */

.logo {
  svg path, svg rect {
    fill: $color-primary2;
  }
}

/* ************ #Social icons ************ */

.social {
  svg path {
    fill: $color-neutral-medium;
  }

  svg {
    width: 30px;     /* larger icons on small screens */
    @include media-query4 {
      width: 25px;
    }
  }
  li {
    padding-right: 15px;     /* larger tap targets on small screens */
    @include media-query4 {
      padding-right: 10px;
    }
  }
}

/* ************ #Navigation links ************ */

.nav-links {
  ul {
    margin: 0;
  }
  li {
    display: inline-block;
    padding-right: 1rem;
    padding-bottom: 0;
    color: $color-neutral-medium;
    font-family: $font-nav;
    font-size: .875rem;
    font-weight: $font-weight-medium;
    letter-spacing: .1rem;
    text-transform: uppercase;
    @include media-query3 {
      padding-right: 2rem;
    }
  }
}

/* ************ #Buttons ************ */

.button {
  margin-right: 5px;
  padding: 6px 10px;
  font-size: .9rem;
  font-weight: $font-weight-medium;
  text-transform: uppercase;
  background-color: $color-primary2;
  border-radius: 3px;
  text-align: center;
  width: 10em;
  @include media-query5 {
    margin-bottom: .7em;
    display: inline-block;
  }
}