.c-header, .c-about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2rem;
  @include mq-sm {
    margin-bottom: 3rem;
  }
  @include mq-md {
    margin-bottom: 4rem;
  }
}

.header--right, .header--left {
  width: 100%;
  position: relative;
  margin-bottom: 2em;
}

.header--right {
  @include mq-md {
    margin-left: 1.5%;
    width: 58.5%;
  }
}

.header--left {
  @include mq-md {
    margin-right: 1.5%;
    width: 38.5%;
  }
}