.social__icon {
  
  padding-right: 15px;     /* larger tap targets on small screens */
  @include mq-md {
    padding-right: 10px;
  }

  svg path {
    fill: $color-neutral-medium;
  }

  svg {
    width: 30px;     /* larger icons on small screens */
    @include mq-md {
      width: 25px;
    }
  }
}