// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
//    #VARIABLES 
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 

$color-background: #ffffff;
$color-neutral-light: #E2DEDC;
$color-neutral-medium: #787677;
$color-neutral-dark: #484647;
$color-primary1: #E9529D;
$color-primary2: #F1E41D;
$color-accent-light: #F4C341;
$color-accent-medium: #F6A138;
$color-accent-dark: #F15B66;

$font-body: 'Open Sans', sans-serif;
$font-secondary: 'Open Sans', sans-serif;
$font-nav: 'Montserrat', sans-serif;
$font-branding: "filson-pro", 'Open Sans', sans-serif;

$font-weight-regular: 400;
$font-weight-medium: 600;
$font-weight-heavy: 700;

$xs: 599px;
$sm: 600px;
$md: 800px;
$lg: 1100px;
$xl: 1300px;